.rw-skin {
  &-container {
    min-height: 100vh;
    margin-block-start: 20px;
    margin-inline-end: 20px;
    padding-block: 40px;
    padding-inline: 40px 20px;
  }

  &-content {
    position: relative;
  }


  &-row {
    width: 100%;
    height: max-content;
    margin: auto;
    background-color: var(--rw-flow-white);
    border: 1px solid var(--rw-flow-border-color);
  }

  &-header {
    padding: 5px 10px;

    &-title {
      font-size: var(--rw-admin-fs-14);

    }
  }


  &-body {
    padding: 8px 0;
  }

  &-desc {
    font-size: var(--rw-admin-fs-14);
  }
}

.rw-sms-feedback {
  &-container {
    max-width: 1200px;
    padding-inline-end: 20px;
  }

  &-row {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    padding-block-start: 40px;

    &-in {
      width: 100%;
      max-width: 1000px;
    }

    @include max-width($rw-admin-wp-lg-breakpoint) {
      &-in {
        margin-block-end: 20px;
      }
    }
    @include max-width($rw-admin-wp-breakpoint) {
      flex-direction: column;
    }
  }

  &-automatically {
    @include max-width($rw-admin-wp-lg-breakpoint) {
      flex-direction: row;
    }

    @include max-width($rw-admin-wp-breakpoint) {
      flex-direction: column;
    }
  }

  &-title {
    font-size: var(--rw-admin-fs-16);
    margin-block-end: 30px;

    &-in {
      font-size: var(--rw-admin-fs-14);
      line-height: var(--rw-admin-lh-20);
      margin-block-end: 20px;
    }

    &-nested {
      margin-block-start: 40px;
    }
  }

  &-desc {
    font-size: var(--rw-admin-fs-14);
    line-height: var(--rw-admin-lh-20);
    margin-block-end: 20px;

    &-in {
      font-weight: var(--rw-admin-fw-700);
    }
  }

  &-nested {
    &-desc {
      text-align: center;
    }
  }

  &-table {
    margin-block-end: 20px;
    margin-inline-start: 40px;

    &-item {
      list-style: disc;
    }

    &-desc {
      font-size: var(--rw-admin-fs-14);
      line-height: var(--rw-admin-lh-30);
    }
  }

  &-image {
    width: 100%;
    height: auto;
    max-width: 400px;
    max-height: 600px;
    margin-block: auto;
    margin-inline-start: auto;
    @include max-width($rw-admin-wp-lg-breakpoint) {
      max-width: 200px;
      max-height: 400px;
    }

    &.automatically {
      margin-block-end: 20px;
    }
  }
}

.rw-admin {

  &-body {
    display: grid;
    grid-template-columns: 200px 1fr;
    padding: 20px 10px;

    &-nested {
      align-items: center;
    }
  }

  &-row {
    width: 100%;
    display: block;
    max-width: 800px;
    padding-block-end: 0;

    &:not(:last-child) {
      padding-block-end: 20px;
    }

    &-in {
      display: flex;
      align-items: center;
      gap: 20px;
      text-align: center;

      &:not(:last-child) {
        margin-block-end: 20px;
      }
    }

    &-nested {
      padding-block-end: 0;

      &:not(:last-child) {
        padding-block-end: 20px;
      }
    }
  }

  &-label {
    display: flex;
    align-items: center;
    cursor: pointer;

    &.active {
      .rw-admin-overflow {
        display: flex;
      }
    }
  }

  &-title {
    height: max-content;
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: var(--rw-admin-fs-14);

    &-in {
      font-size: var(--rw-admin-fs-14);

      &:not(:last-child) {
        margin-block-end: 10px;
      }

    }

    &.active {
      .rw-admin-overflow {
        display: flex;
      }
    }
  }

  &-desc {
    font-size: var(--rw-admin-fs-12);
    line-height: var(--rw-admin-lh-18);
    text-align: left;

    &:not(:last-child) {
      padding-block-end: 10px;
    }

    &-in {
      font-size: var(--rw-admin-fs-12);
      font-weight: var(--rw-admin-fw-700);
      line-height: var(--rw-admin-lh-20);
      cursor: pointer;
    }
  }

  &-dashed {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    &-in {
      position: absolute;
      top: 50%;
      bottom: 0;
      left: 50px;
      right: 50px;
      height: 1px;
      border: 1px dashed var(--rw-admin-black);
      transform: translate3d(0, -50%, 0);
    }

    &-desc {
      padding-inline: 10px;
      background-color: var(--rw-admin-white);
      font-size: var(--rw-admin-fs-12);
      text-align: center;
      z-index: 1;
    }
  }

  &-i {
    width: 24px;
    height: 24px;
    display: block;
    fill: var(--rw-admin-black);
  }

  &-add {
    cursor: pointer;

    &-i {
      width: 40px;
      height: 40px;
    }
  }

}