.rw-skin {
  &-container {
    min-height: 100vh;
    margin-block-start: 20px;
    margin-inline-end: 20px;
    padding-block: 40px;
    padding-inline: 40px 20px;
  }

  &-content {
    position: relative;
  }


  &-row {
    width: 100%;
    height: max-content;
    margin: auto;
    background-color: var(--rw-flow-white);
    border: 1px solid var(--rw-flow-border-color);
  }

  &-header {
    padding: 5px 10px;

    &-title {
      font-size: var(--rw-admin-fs-14);

    }
  }


  &-body {
    display: grid;
    grid-template-columns: 150px 1fr;
    padding: 20px 10px;
  }

  &-desc {
    font-size: var(--rw-admin-fs-14);
  }
}


.rw-flow {
  &-row {
    width: 100%;
    height: max-content;
    margin: auto;
    background-color: var(--rw-feedback-local-bg);
    border: 1px solid var(--rw-flow-border-color);
  }

  &-logo {
    margin-inline: 10px auto;
    @include min-width($rw-admin-wp-lg-breakpoint) {

      margin: auto;
    }
  }

  &-title {
    padding-block-end: 0;

    &:not(:last-child) {
      padding-block-end: 50px;
    }

    &-in {
      font-size: var(--rw-admin-fs-14);
      font-weight: var(--rw-admin-fw-600);
      line-height: var(--rw-admin-lh-18);
      text-align: center;
    }
  }
}

.rw-sms-feedback {
  &-row {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    padding-block-start: 40px;
    padding-inline: 40px;

    &-in {
      max-width: 1000px;
    }

    @include max-width($rw-admin-wp-lg-breakpoint) {
      flex-direction: column;
      &-in {
        margin-block-end: 20px;
      }
    }
  }

  &-title {
    font-size: var(--rw-admin-fs-16);
    margin-block-end: 30px;

    &-in {
      font-size: var(--rw-admin-fs-14);
      line-height: var(--rw-admin-lh-20);
      margin-block-end: 20px;
    }

    &-nested {
      margin-block-start: 40px;
    }
  }

  &-desc {
    font-size: var(--rw-admin-fs-14);
    line-height: var(--rw-admin-lh-20);
    margin-block-end: 20px;

    &-in {
      font-weight: var(--rw-admin-fw-700);
    }
  }

  &-nested {
    &-desc {
      text-align: center;
    }
  }

  &-table {
    margin-block-end: 20px;
    margin-inline-start: 40px;

    &-item {
      list-style: disc;
    }

    &-desc {
      font-size: var(--rw-admin-fs-14);
      line-height: var(--rw-admin-lh-30);
    }
  }

  &-image {
    max-width: 400px;
    height: auto;
    @include max-width($rw-admin-wp-lg-breakpoint) {
      max-width: 100%;
    }
  }
}

.rw-admin {

  &-body {
    display: grid;
    grid-template-columns: 200px 1fr;
    padding: 20px 10px;

    &-nested {
      align-items: center;
    }
  }

  &-row {
    width: 100%;
    display: block;
    max-width: 800px;
    padding-block-end: 20px;

    &:not(:last-child) {
      padding-block-end: 20px;
    }

    &-in {
      display: flex;
      align-items: center;
      gap: 20px;
      text-align: center;

      &:not(:last-child) {
        margin-block-end: 20px;
      }
    }

    &-nested {
      padding-block-end: 0;

      &:not(:last-child) {
        padding-block-end: 20px;
      }
    }
  }

  &-label {
    display: flex;
    align-items: center;

    &-tooltip {
      &-in {
        width: 20px;
        height: 20px;
        fill: var(--rw-admin-button-primary-color);
        cursor: pointer;
      }

      &:not(:last-child) {
        margin-inline-end: 10px;
      }
    }

    &.active {
      .rw-admin-overflow {
        display: flex;
      }
    }
  }

  &-title {
    height: max-content;
    display: flex;
    align-items: center;
    gap: 20px;

    &-in {
      font-size: var(--rw-admin-fs-14);
      white-space: nowrap;

      &:not(:last-child) {
        margin-block-end: 10px;
      }

    }

    &.active {
      .rw-admin-overflow {
        display: flex;
      }
    }
  }

  &-textarea {
    width: 100%;
    margin-block-end: 0;
    padding-inline: 20px;
    border-radius: 0;
    font-size: var(--rw-admin-fs-12);

    &:not(:last-child) {
      margin-block-end: 10px;
    }
  }

  &-input {
    width: 100%;
    margin-block-end: 0;
    padding-inline: 20px;
    border-radius: 0;
    font-size: var(--rw-admin-fs-12);

    &:not(:last-child) {
      margin-block-end: 10px;
    }

    &-minimal {
      max-width: 200px;

      &:not(:last-child) {
        margin-block-end: 0;
      }
    }
  }

  &-desc {
    font-size: var(--rw-admin-fs-12);
    line-height: var(--rw-admin-lh-18);

    &:not(:last-child) {
      padding-block-end: 10px;
    }

    &-in {
      font-size: var(--rw-admin-fs-12);
      font-weight: var(--rw-admin-fw-700);
      line-height: var(--rw-admin-lh-20);
    }
  }

  &-dashed {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    &-in {
      position: absolute;
      top: 50%;
      bottom: 0;
      left: 50px;
      right: 50px;
      height: 1px;
      border: 1px dashed var(--rw-admin-black);
      transform: translate3d(0, -50%, 0);
    }

    &-desc {
      padding-inline: 10px;
      background-color: var(--rw-admin-white);
      font-size: var(--rw-admin-fs-12);
      text-align: center;
      z-index: 1;
    }
  }

  &-overflow {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
  }

  &-modal {
    position: relative;
    width: 100%;
    max-width: 600px;
    max-height: 400px;
    display: block;
    margin: auto;
    padding-block: 30px 10px;
    padding-inline: 20px;
    overflow-y: auto;
    background-color: var(--rw-admin-white);
    border-radius: 8px;
    box-shadow: 0 0 8.22px rgba(8, 35, 60, 0.1);
    z-index: 999;

    &-in {
      font-size: var(--rw-admin-fs-16);
      line-height: var(--rw-admin-lh-20);
    }

    &-body {
      grid-template-columns: 30px 1fr;
    }
  }

  &-i {
    width: 24px;
    height: 24px;
    display: block;
    fill: var(--rw-admin-black);
  }

  &-add {
    cursor: pointer;

    &-i {
      width: 40px;
      height: 40px;
    }
  }

}