.rw-flow {
  &-feedback {
    &-row {
      max-width: 600px;
      margin-inline: auto;
      background-color: var(--rw-feedback-local-bg);
      border: 1px solid var(--rw-feedback-local-border-color);
      &.none {
        display: none;
      }
    }

    &-public-review {
      &-row {
        @include min-width($rw-admin-wp-lg-breakpoint) {
          max-width: 800px;
        }
      }
    }

    &-header {
      position: relative;
      display: flex;
      padding-block: 30px 37px;
      border-bottom: 1px solid var(--rw-feedback-local-border-color);
    }

    &-body {
      margin-block: 50px;
      margin-inline: auto;
      padding-inline: 30px;

      @include min-width($rw-admin-wp-lg-breakpoint) {
        padding-inline: 50px;
      }
    }


    &-actions {
      width: 100%;

      &-in {
        display: flex;
        justify-content: center;
      }
    }

  }
}