.rw-admin-table {
  width: 100%;

  &-title {
    padding-block-start: 34px;
    &-in {
      font-size: var(--rw-admin-fs-14);
    }
  }

  &-head {
    &-item {
      padding-block: 10px;
    }

    &-desc {
      font-size: var(--rw-admin-fs-12);
      font-weight: var(--rw-admin-fw-700);
    }
  }

  &-body {
    border: 1px solid black;

    &-in {
      border: 1px solid black;
    }

    &-item {
      border: 1px solid black;
      padding: 10px 20px;
      text-align: center;

      &.clickable {
        &:not(.disabled) {
          cursor: pointer;
        }

        &:not(.selected):hover {
          background-color: #E1E1E1;
        }
      }

      &.selected {
        background-color: #D1D1D1;
      }

      &.disabled {
        pointer-events: none;
        opacity: .5;
        cursor: not-allowed;
      }
    }
  }

  &-desc {
    font-size: var(--rw-admin-fs-12);
    font-weight: var(--rw-admin-fw-500);
  }
}